
          <div class="pane pane-sm sidebar print-dont" id="sidebar">

            <div class="bloginfo-card">
              <div class="bloginfo-box" id="bloginfoBox">
                  <img class="bloginfo-logo" src="{{$.blogInfo.Logo}}" alt="{{$.blogInfo.Title}}">
                  <h1 class="bloginfo-title">{{$.blogInfo.Title}}</h1>
                  <p class="bloginfo-desc">{{$.blogInfo.SubTitle}}</p>
              </div>

              <div class="userinfo-box" id="userinfoBox">
                <div class="userinfo-group">
                  <img class="userinfo-avatar" src="{{$.blogInfo.UserLogo}}" alt="{{$.blogInfo.Username}}">
                  <span class="userinfo-name">{{$.blogInfo.Username}}</span>
                </div>
              </div>
            </div>

            <nav class="nav-group">
              <h5 class="nav-group-title">Pages</h5>
              
              <a class="nav-group-item" href="{{.indexUrl}}">
                <i class="fa fa-home"></i>
                Home
              </a>
              
              {{if $.cates}}
              <h5 class="nav-group-title"></h5>{{range $.cates}}
              <a class="nav-group-item{{if eq .CateId $.curCateId}} active{{end}}" href="{{$.cateUrl}}/{{.UrlTitle}}">
                <i class="fa fa-inbox"></i>
                {{.Title}}
              </a>{{end}}
              {{end}}
              
              {{if $.singles}}
              <!--<h5 class="nav-group-title"></h5>-->
              {{range $.singles}}
              <a class="nav-group-item{{if eq $.curSingleId .SingleId}} active{{end}}" href="{{$.singleUrl}}/{{.UrlTitle}}">
                <i class="fa fa-bookmark"></i>
                {{.Title}}
              </a>{{end}}
              {{end}}
            </nav>
              
              
            <nav class="nav-group">
              <h5 class="nav-group-title">Retrieve Items</h5>
              <a class="nav-group-item{{if $.curIsArchive}} active{{end}}" href="{{.archiveUrl}}">
                <i class="fa fa-archive"></i>
                Archives
              </a>
              <a class="nav-group-item{{if $.curIsTags}} active{{end}}" href="{{.tagsUrl}}">
                <i class="fa fa-tags"></i>
                Tags
              </a>
              <span class="nav-group-item">
                <form class="search-form" id="search" onsubmit="search(event);return false;">
                <i class="fa fa-search" onclick="search(event);"></i>
                <input class="searchInput" type="text" name="searchInput" id="searchInput" placeholder="Search" onsubmit="search()">
                </form>
              </span>
            </nav>

            <nav class="nav-group">
              <h5 class="nav-group-title">Personal Links</h5>{{range $.themeInfo.PersonalLinks}}
              <a class="nav-group-item" href="{{.Url}}" target="_blank">
                <i class="fa fa-{{.faicon}}"></i>
                {{.Title}}
              </a>{{end}}
            </nav>
            
            <nav class="nav-group">
              <h5 class="nav-group-title">Friend Links</h5>{{range $.themeInfo.FriendLinks}}
              <a class="nav-group-item" href="{{.Url}}" target="_blank">
                <i class="fa fa-{{.faicon}}"></i>
                {{.Title}}
              </a>{{end}}
            </nav>

            <nav class="nav-group">
              <h5 class="nav-group-title">Tools</h5>{{range $.themeInfo.Tools}}
              <a class="nav-group-item" href="{{.Url}}" target="_blank">
                <i class="fa fa-{{.faicon}}"></i>
                {{.Title}}
              </a>{{end}}
            </nav>

            <hr class="height2em"/>
          </div>
