
<table class="table-striped">
  <thead>
    <tr>
      <th> Public Time </th>
      <th> Updated Time </th>
      <th> Title </th>
      <th><i class="fa fa-eye"></i></th>
      <th><i class="fa fa-comments-o"></i></th>
      <th><i class="fa fa-thumbs-o-up"></i></th>
      <th> Tags </th>
      <!--<th> Summary </th> -->
      <!--<th> Friendly Url </th>-->
    </tr>
  </thead>
  <tbody>{{range $.archives}}{{$year := .Year}}{{range .MonthAchives}}{{range .Posts}}
    <tr>
      <td>{{dateFormat .PublicTime "2006-01-02"}}</td>
      <td>{{dateFormat .UpdatedTime "2006-01-02"}}</td>
      <td class="width-limit-20">{{if .Title}}<a href="{{$.postUrl}}/{{.UrlTitle}}">{{.Title}}</a>{{else}}<a href="{{$.postUrl}}/{{.UrlTitle}}"> No title </a>{{end}}</td>
      <td>{{.ReadNum}}</td>
      <td>{{.CommentNum}}</td>
      <td>{{.LikeNum}}</td>
      <td>{{if .Tags}}{{blogTags $ .Tags}}{{else}}none{{end}}</td>
      <!--<td class="width-limit-20">{{.Desc}}</td> -->
      <!--<td class="width-limit-20"><a href="{{$.postUrl}}/{{.UrlTitle}}">{{.UrlTitle}}</a></td>-->
    </tr>{{end}}{{end}}{{end}}
  </tbody>
</table>